@import "settings";
@import "foundation";


.first-col {
    background: red;
    min-height: 400px;
  
}

.second-col {
    background: pink;
    min-height: 400px;
}


.weathervane {
    position: absolute;
    top: 65%;
    left: 50%;
 transform: translate(-70%, -50%);
 -webkit-transform: translate(-30%, -50%);
    z-index: 100;
    img {max-width: 60%;
    }
}

img { height:300px;
      width: 300px;
}

.cloud { margin-left: 170px;

}

.day { margin-left: 170px;
      magin-bottom: 200px;
}