@import "settings";
@import "foundation";



.first-col img{
    margin-left:60%;
    width: 30%;
    min-width: 50px;
    
   
}

.second-col img{
    margin-right:60%;
    width: 30%;
    min-width: 50px;
}



    
.intext {
    left: 10%;
    width:20%;
    min-width: 50px;
    margin-left: 30%;
    text-align: center;   
}




.hihi {
    color: black;
    border-radius: 25px;
    background:#5CAEF5;
    padding: 10px; 
    width: 200px;
    height: 50px; 

}
    
.name {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    height: 36px;
    background: pink;
}

.name1 {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    height: 36px;
    background: pink;
}

.yoll {
    //left: 35%;
    
} 

.yoll img {
    width:20%;
    min-width: 70px;
    float:right;
}

.yolll img {
    padding-top: 10px;
    width:50%;
    min-width: 180px;
}

.ccc {
    text-align: center;
    background:pink;
    
}

.yollll {
    height: 37%;
}

.yollll img {
    width: 100%;
}
    
    



@media #{$small-up} {
    .weathervane{
        width: 80%;
    }
}
@media #{$small-only} { }

@media #{$medium-up} {
    .weathervane{
        width: 30%;
    }
}
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }